# Sesiunea 16 din modulul 16-17_Pandas – De la array-uri la DataFrame-uri
_Notebook de exerciții (fără soluții) din seria 16-17_Pandas, construită ca să continue practica din 13-14_NumPY și să pregătească analiza tabulară._

### Exercițiul 1 – Mini inventar Pandas pornit din date NumPy
În continuarea array-urilor sintetice din recapitularea `13-14_NumPY`, construiește un `DataFrame` Pandas cu coloanele `Produs`, `Preț` și `Stoc`, folosind date generate de tine (ideal structurate cu liste sau array-uri). Asigură-te că tabela are cel puțin cinci rânduri și inspectează rezultatul pentru a confirma schema.

In [3]:
import pandas as pd

df = pd.DataFrame({"Product": ["Banana", "Apple", "Mango", "Pear", "Tomato"],
                   "Price": [10, 20, 14.99, 120, 100],
                   "Stock": [15, 45, 100, 10, 50]})

df

  Product   Price  Stock
0  Banana   10.00     15
1   Apple   20.00     45
2   Mango   14.99    100
3    Pear  120.00     10
4  Tomato  100.00     50

### Exercițiul 2 – Selectează rapid ofertele premium
Folosește DataFrame-ul din exercițiul anterior pentru a extrage doar produsele cu `Preț` mai mare de 50. Compare filtrarea cu mască booleană cu o abordare `loc` sau `.query()`, astfel încât să vezi diferențele de sintaxă și expresivitate.

In [ ]:
mask = df["Price"] > 50
filtered = df[mask]

filtered

  Product  Price  Stock
3    Pear  120.0     10
4  Tomato  100.0     50

In [ ]:
df.query("Price > 50")

  Product  Price  Stock
3    Pear  120.0     10
4  Tomato  100.0     50

### Exercițiul 3 – Pregătește ordinea pentru analize ulterioare
Continuăm pregătirea datasetului pentru vizualizările din modulul 18-19. Sortează produsele descrescător după `Preț` cu `sort_values()` și afișează primele trei intrări pentru a verifica rezultatul.

In [16]:
df.sort_values(by="Price")

df[:3]

  Product  Price  Stock
0  Banana  10.00     15
1   Apple  20.00     45
2   Mango  14.99    100

### Exercițiul 4 – Calculează automat TVA-ul
Adaugă o coloană `TVA` ce reprezintă 19% din prețul fiecărui produs și păstrează două zecimale prin rotunjire vectorizată. Observă cum Pandas aplică operațiile pe tot coloana și confirmă cu `head()` că valorile se potrivesc așteptărilor.

In [19]:
df["TVA"] = df["Price"] * 0.19

df

  Product   Price  Stock      TVA
0  Banana   10.00     15   1.9000
1   Apple   20.00     45   3.8000
2   Mango   14.99    100   2.8481
3    Pear  120.00     10  22.8000
4  Tomato  100.00     50  19.0000

### Exercițiul 5 – Exportă datele curățate pentru sesiunea 17
Încheie exercițiul exportând DataFrame-ul complet într-un fișier Excel `produse.xlsx`, pregătind materialul pentru pipeline-urile automate din sesiunea 17. Folosește `index=False` și confirmă că fișierul apare în directorul curent.

In [21]:
df.to_excel(excel_writer="test.xlsx")