# Sesiunea 16 – Pandas: Manipulare și analiză de date ca un expert
_Notebook de exerciții (fără soluții)._

### Exercițiul 1
**Creează un DataFrame care conține informații despre produse.**  
Coloanele trebuie să fie: `Produs`, `Preț`, `Stoc`.
Populează tabelul cu câteva valori de exemplu.

In [ ]:
import pandas as pd

data = {
    "Product": ["Banana", "Apple", "Orange", "Grapes", "Mango", "Pineapple"],
    "Price": [29.99, 7.99, 120.50, 45.00, 35.25, 55.75],
    "Stock": [10, 7, 15, 5, 12, 8],
}

df = pd.DataFrame(data)

df

     Product   Price  Stock
0     Banana   29.99     10
1      Apple    7.99      7
2     Orange  120.50     15
3     Grapes   45.00      5
4      Mango   35.25     12
5  Pineapple   55.75      8

### Exercițiul 2
**Afișează doar produsele care au prețul mai mare de 50.**  
Folosește filtrarea pe coloana `Preț`.

In [2]:
products = df[df["Price"] > 50]

mask = df["Price"] > 50

df[mask]

     Product   Price  Stock
2     Orange  120.50     15
5  Pineapple   55.75      8

### Exercițiul 3
**Sortează produsele în ordine descrescătoare după preț.**  
Utilizează metoda `sort_values()` din Pandas.

In [3]:
df.sort_values(by="Price", ascending=False)

     Product   Price  Stock
2     Orange  120.50     15
5  Pineapple   55.75      8
3     Grapes   45.00      5
4      Mango   35.25     12
0     Banana   29.99     10
1      Apple    7.99      7

### Exercițiul 4
**Adaugă o coloană nouă numită `TVA`, care reprezintă 19% din prețul fiecărui produs.**

In [4]:
df["TVA"] = [x * 0.19 for x in df["Price"]]

df.sort_values(by="Price", ascending=False)

     Product   Price  Stock      TVA
2     Orange  120.50     15  22.8950
5  Pineapple   55.75      8  10.5925
3     Grapes   45.00      5   8.5500
4      Mango   35.25     12   6.6975
0     Banana   29.99     10   5.6981
1      Apple    7.99      7   1.5181

In [5]:
# vectorized
df["TVA"] = df["Price"] * 0.25

df.sort_values(by="Price", ascending=False)

     Product   Price  Stock      TVA
2     Orange  120.50     15  30.1250
5  Pineapple   55.75      8  13.9375
3     Grapes   45.00      5  11.2500
4      Mango   35.25     12   8.8125
0     Banana   29.99     10   7.4975
1      Apple    7.99      7   1.9975

### Exercițiul 5
**Salvează DataFrame-ul final într-un fișier Excel numit `produse.xlsx`.**

In [6]:
df.to_excel("products.xlsx", index=False)